@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Merriweather');
body {
  background: lightblue;
  height: 100%;
  max-height: 100%
}
form {
  background: tan;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Merriweather', serif;
  line-height: 1.75em;

}

h1, h2 {
  font-family: 'Crimson Text', serif;
  text-align: center;
}

h1 {
  font-weight: bold;
}

p {
  text-align: center;
}


.signUp {
  list-style-type: none;
}
#radioButtons {
  list-style-type: none;
}
#checkButtons {
  list-style-type: none;
}


#submit {
  width: 33%;
  height: 2.5em;
  border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

#subBtn {
  display: flex;
  justify-content:center;
  padding-top: 15px;
}

footer {
  font-size: small;
  text-align: center;
}

.labelText {
  display: inline-block;
  text-align: right;
  padding: 5px;
  width:40%;
}

.userInput {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  text-align: left;
}
/*
#comment {
  width: 300px;
}

.text-input {
  width: 300px;
}
*/
.numCopies {
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  text-align: left;
}


textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
}
